# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_STORAGE_BUCKET=
FIREBASE_API_KEY=

# JWT
JWT_SECRET=

# Telegram
TOKEN_SECRET=
ENCRYPTION_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
WEBHOOK_URL=

# Server
PORT=
NODE_ENV=
FRONTEND_URL=

#redis
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=
REDIS_URL=